# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Terraform files
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/.terraform/.terraform.lock.hcl
infrastructure/.terraform.lock.hcl
infrastructure/*.json