apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-sample-react-app-gitops
  namespace: argocd
  annotations:
      # List of images to be monitored and updated by ArgoCD Image Updater
      argocd-image-updater.argoproj.io/image-list: my-react-app=asia-southeast2-docker.pkg.dev/our-hull-385315/my-sample-react-app-repo/my-sample-react-app
      
      # Update strategy: latest tag
      argocd-image-updater.argoproj.io/my-react-app.update-strategy: latest

      # Write back method: git with SSH using secret stored in ArgoCD
      argocd-image-updater.argoproj.io/write-back-method: git:secret:argocd/git-creds
spec:
  project: default
  source:
    repoURL: https://github.com/firmansyw30/gitops-introduction.git
    targetRevision: main
    path: k8s-manifest 
  destination:
    # Deploy to cluster where ArgoCD exist
    server: https://kubernetes.default.svc
    # Namespace destination app (current default)
    namespace: default
# Self healing & auto sync feature
  syncPolicy:
    automated:
      prune: true      # Remove resources if in gke deleted
      selfHeal: true   # if there's manual edit in k8s, put it back like in git