apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-sample-react-app-gitops
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/firmansyw30/gitops-introduction.git
    targetRevision: main
    path: k8s-manifest 
  destination:
    # Deploy to cluster where ArgoCD exist
    server: https://kubernetes.default.svc
    # Namespace destination app (current default)
    namespace: default
# Self healing & auto sync feature
  syncPolicy:
    automated:
      prune: true      # Remove resources if in gke deleted
      selfHeal: true   # if there's manual edit in k8s, put it back like in git